.quotes {
  width: 85%;
  display: flex;
  flex-direction: column;
  font-family: cursive, sans-serif;
  font-size: 18px;
  margin-left: 6%;
  margin-top: 10%;
}

.loading {
  font-family: cursive, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(6, 4, 110);
  margin-left: 10%;
}

.error {
  font-family: cursive, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: red;
  margin-left: 10%;
}

.author {
  font-family: cursive, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
